:root{
    font-family: 'Fira Sans', sans-serif;
    font-size: 62.5%;
    --background-color:#678FF2;
    --first-color:#000000;
    --second-color:#FFFFFF;
    --group-color:rgba(255, 255, 255, 0.1);
    --shade-color:rgba(0, 0, 0, 0.1);
    --bacground2-color:rgba(255, 255, 255, 0.15);
}
.head{
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 130%;
}
header{
    background-color: var(--group-color);
}
.b4{
    background-color: var(--group-color);
    border: none;
}
body{
    background-color: var(--background-color);
}
h1{
    font-size: 0;
}
h2{
    font-weight:700;
    font-size:4.5rem;
    line-height: 89%;
}
p.cookie{
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
    vertical-align: top;
    text-align: left;
}
h3{
    font-weight:500;
    font-size:3.5rem;
    line-height: 140%;
    color: var(--second-color);
    text-align: center;
}
h4{
    font-weight:500;
    font-size:1.4rem;
    line-height: 214%;
}
p.plist{
    font-weight:200;
    font-size:1.1rem;
    line-height: 164%;
}

ul.list{
    -webkit-column-count: 2;
    column-count: 2;
    column-width: auto;
    text-align: center;
}
p.three{
    font-weight:200;
    font-size:1.8rem;
    line-height: 111%;
    color: var(--second-color);
    text-align: left;
}
p.three2{
    font-weight:200;
    font-size:1.8rem;
    line-height: 111%;
    color: var(--second-color);
    text-align: right;
}
p.exp{
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--second-color);
}
li.otzv{
    font-weight: 200;
    font-size: 1.4;
    line-height: 129%;
    color: var(--second-color);
    text-align: center;
}
h3.forms{
    color:var(--first-color);
    line-height: 114%;
}
li.listexp{
    text-align: center;
    background-color:var(--group-color);
    backdrop-filter: blur(20rem);
}
h3.hq{
    text-align: left;
}
h3.alw{
    text-align: right;
}
a{
    text-decoration: none;
    color: var(--second-color);
}
a.one{
    background-color: var(--first-color);
    color: var(--second-color);
    font-weight:400;
    font-size: 2rem;
    line-height: 150%;
    text-decoration: none;
    border-radius: 9rem;
    padding: 0.5rem;
}
button.b1{
    background-color: rgba(255, 255, 255, 0);
    color: var(--first-color);
    font-weight: 600;
    font-size: 3rem;
    line-height: 47%;
    border: none;
}
button.b3{
    color: var(--second-color);
    background-color: var(--background-color);
    border: none;
}
.art{
    text-align: center;
    background-color: var(--group-color);
    border-radius: 2rem;
}
li.hw1{
    background-color: var(--group-color);
    box-shadow: 0rem 0.4rem 2rem var(--shade-color);
    color: var(--second-color);
    backdrop-filter: blur(20rem);
    width: 14.049rem;
    height: 15.25rem;
}
li.hw2{
    background-color: var(--group-color);
    width: 14.049rem;
    height: 15.25rem;
    backdrop-filter: blur(2rem);
}
button.b2{
    background-color: var(--first-color);
    color: var(--second-color);
    font-weight:400;
    font-size: 2rem;
    line-height: 150%;
    text-decoration: none;
    border-radius: 9rem;
    padding: 0.5rem;
    border: none;
    width: 31.7rem;
}
form{
    text-align: center;
}
footer{
    background-color: var(--bacground2-color);
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 136%;
    color: var(--second-color);
}
.last{
    font-weight: 1.4rem;
    line-height: 214%;
    font-weight: 200;
}

