:root{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    box-sizing: border-box;
    --background-color:#678FF2;
    --first-color:#000000;
    --second-color:#FFFFFF;
    --group-color:rgba(255, 255, 255, 0.1);
    --shade-color:rgba(0, 0, 0, 0.1);
    --bacground2-color:rgba(255, 255, 255, 0.15);
}

.head{
    font-size: 2.3rem;
    line-height: 130%;
    padding-right: 4rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-right: 0.2rem solid var(--second-color);

}
header{
    background-color: var(--group-color);
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom: 0.2rem solid var(--second-color);
    display: flex;
    justify-content: space-between;
}
.hed{
    list-style: none;
    text-align: right;
    padding-right: 3rem;
}
.flex{
    font-weight: 600;
}
.b4{
    background-color: var(--group-color);
    border: none;
}
body{
    background-color: var(--background-color);
}
.section1{
    padding-top: 14rem;
    padding-bottom: 5rem;
}
.section2{
    padding-top: 11rem;
    border-bottom: 0.2rem solid var(--second-color);
}
.section3{
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 11rem;
}
.section4{
    padding-top: 17rem;
}
.section5{
    padding-top: 15rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2.5rem;
}
.section6{
    padding-bottom: 9rem;
    border-bottom: 0.2rem solid var(--second-color);
    display: flex;
    justify-content: center;
}
.our_ex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: none;
    max-width: 117rem;
    gap:2rem;
    margin-left: auto;
    margin-right: auto;
}
.cc{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 0;
}
h2{
    font-weight:700;
    font-size:4.5rem;
    line-height: 89%;
    padding-left: 0.7em;
    margin-bottom: 3em;
    min-width: 366px;
    max-width: 400px;
    display: flex;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}
p.cookie{
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
    text-align: left;
    display: block;
    padding-left: 12rem;
}
.pr{
    background-color: var(--group-color);
    border-radius: 2rem;
    margin-top: 6.7rem;
    margin-left: 3rem;
    margin-right: 3rem;
    min-width: 34rem;
    max-width: 68rem;
    padding-top: 1.6rem;
    padding-bottom: 2rem;
    padding-right: 0.6rem;
    position: relative;
    display: flexbox;
}
h3{
    font-weight:500;
    font-size:3.5rem;
    line-height: 140%;
    color: var(--second-color);
    text-align: center;
}
h4{
    font-weight:500;
    font-size:1.4rem;
    line-height: 214%;
}
p.plist{
    font-weight:200;
    font-size:1.1rem;
    line-height: 164%;
}

ul.list{
    text-align: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0;
    justify-content: space-evenly;
    max-width: 60rem;
    gap: 2em;
}
p.three{
    font-weight:200;
    font-size:1.8rem;
    line-height: 111%;
    color: var(--second-color);
    text-align: left;
    margin-left: 3rem;
    margin-right: 3rem;
}
p.three2{
    font-weight:200;
    font-size:1.8rem;
    line-height: 111%;
    color: var(--second-color);
    text-align: right;
    margin-left: 3rem;
    margin-right: 3rem;
}
p.exp{
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--second-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}
.test{
    margin-bottom: 6rem;
}
li.otzv{
    font-weight: 200;
    font-size: 1.4;
    line-height: 129%;
    color: var(--second-color);
    text-align: center;
    margin-bottom: 5rem;
    margin-left: 5rem;
    list-style: none;
    margin-right: 5rem;
}
h3.forms{
    color:var(--first-color);
    line-height: 114%;
    margin-bottom: 2rem;
    text-align: center;
}

input{
    display:flex ;
    justify-content: space-around;
    min-width: 32rem;
    max-width: 62rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9rem;
    padding-left: 2rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
li.listexp{
    text-align: center;
    background-color:var(--group-color);
    backdrop-filter: blur(20rem);
    width: 31.9rem;
    padding-top: 1.5rem;
    margin-bottom: 5.4rem;
    list-style: none;
    border-radius: 2rem;
}
h3.hq{
    text-align: left;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}
h3.alw{
    text-align: right;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 12rem;
    margin-bottom: 1rem;
}
.In{
    margin-top: 8.6rem;
    margin-bottom: 1rem;
}
.our{
    margin-bottom: 7rem;
}
a{
    text-decoration: none;
    color: var(--second-color);
}
a.one{
    background-color: var(--first-color);
    color: var(--second-color);
    font-weight:400;
    font-size: 2rem;
    line-height: 150%;
    text-decoration: none;
    border-radius: 9rem;
    padding-left: 26px;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 12px;
    margin-left: 1.5em;
    margin-right: 4em;
    min-width: 29rem;
    display: block;
    max-width: 39rem;
    text-align: center;
}
button.b1{
    background-color: rgba(255, 255, 255, 0);
    color: var(--first-color);
    font-weight: 600;
    font-size: 3rem;
    line-height: 47%;
    border: none;
    text-align: center;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 0.2rem solid var(--second-color);
    padding-left: 11rem;
    padding-right: 10.5rem;

}
button.b3{
    color: var(--second-color);
    background-color: var(--background-color);
    border: none;
}
.otzButton{
    flex-flow: row;
    list-style: none;
    justify-content: space-around;
}
.buttonotzv{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.bird{
    position: absolute;
    margin-left: -17rem;
}
.hw{
    display: none;
}
li.hw1{
    background-color: var(--group-color);
    box-shadow: 0rem 0.4rem 2rem var(--shade-color);
    color: var(--second-color);
    backdrop-filter: blur(20rem);
    width: 14.049rem;
    height: auto;
    border-radius: 2rem;
    padding: 1em;
}
li.hw2{
    background-color: var(--group-color);
    width: 14.049rem;
    height: auto;
    backdrop-filter: blur(2rem);
    border-radius: 2rem;
    padding: 1em;
}
button.b2{
    background-color: var(--first-color);
    color: var(--second-color);
    font-weight:400;
    font-size: 2rem;
    line-height: 150%;
    text-decoration: none;
    border-radius: 9rem;
    padding: 0.5rem;
    border: none;
    min-width: 32rem;
    max-width: 62rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 12rem;
}
form{
    text-align: center;
}

footer{
    padding-left: 3rem;
    background-color: var(--bacground2-color);
    font-size: 2.2rem;
    line-height: 136%;
    color: var(--second-color);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.term{
    margin-right: 5rem;
}
.last{
    font-size: 1.4rem;
    line-height: 214%;
    font-weight: 200;
}
.pic{
    display: flex;
    justify-content: end;
}
.help{
    margin-left: 4rem;
}
.flower{
    display: block;
}
.textB{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav{
    display: none;
}


@media (min-width:1100px){
    h2{
        font-size: 12rem;
        line-height: 100%;
        margin-bottom: 0;
        padding: 0;
        max-width: none;
    }
    .section1{
        padding-top: 16rem;
        margin-left: auto;
        margin-right: auto;
    }
    .textB{
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
    }
    .one{
        margin-bottom: 20px;
        font-size: 3rem;
        margin-left: 0;
        margin-right: 0;
    }
}
