:root{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    box-sizing: border-box;
    --background-color:#678FF2;
    --first-color:#000000;
    --second-color:#FFFFFF;
    --group-color:rgba(255, 255, 255, 0.1);
    --shade-color:rgba(0, 0, 0, 0.1);
    --bacground2-color:rgba(255, 255, 255, 0.15);
}
.head{
    font-size: 2.3rem;
    line-height: 130%;
}
header{
    background-color: var(--group-color);
    padding-left: 3rem;
}
.hed{
    list-style: none;
    text-align: right;
    padding-right: 3rem;
}
.flex{
    font-weight: 600;
}
.b4{
    background-color: var(--group-color);
    border: none;
}
body{
    background-color: var(--background-color);
}
h1{
    font-size: 0;
}
h2{
    font-weight:700;
    font-size:4.5rem;
    line-height: 89%;
    padding-top: 3em;
    padding-left: 0.7em;
    padding-bottom: 3em;
    min-width: 322px;
}
p.cookie{
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
}
.pr{
    background-color: var(--group-color);
    border-radius: 2rem;
    margin-top: 6.7rem;
    margin-left: 3rem;
    width: 34rem;
    padding-left: 9rem;
    padding-top: 1.6rem;
    padding-bottom: 2rem;
    padding-right: 0.6rem;
    width: 31rem;
}
h3{
    font-weight:500;
    font-size:3.5rem;
    line-height: 140%;
    color: var(--second-color);
    text-align: center;
}
h4{
    font-weight:500;
    font-size:1.4rem;
    line-height: 214%;
}
p.plist{
    font-weight:200;
    font-size:1.1rem;
    line-height: 164%;
}

ul.list{
    -webkit-column-count: 2;
    column-count: 2;
    column-width: auto;
    text-align: center;
    list-style: none;
    margin-left: 3rem;
}
p.three{
    font-weight:200;
    font-size:1.8rem;
    line-height: 111%;
    color: var(--second-color);
    text-align: left;
    margin-left: 3rem;
    margin-right: 3rem;
}
p.three2{
    font-weight:200;
    font-size:1.8rem;
    line-height: 111%;
    color: var(--second-color);
    text-align: right;
    margin-left: 3rem;
    margin-right: 3rem;
}
p.exp{
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--second-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}
.test{
    margin-top: 17rem;
    margin-bottom: 6rem;
}
li.otzv{
    font-weight: 200;
    font-size: 1.4;
    line-height: 129%;
    color: var(--second-color);
    text-align: center;
    margin-bottom: 5rem;
}
h3.forms{
    color:var(--first-color);
    line-height: 114%;
    margin-top: 15rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
}
li.listexp{
    text-align: center;
    background-color:var(--group-color);
    backdrop-filter: blur(20rem);
    width: 31.9rem;
    padding-top: 1.5rem;
    margin-bottom: 5.4rem;
    margin-left: 3rem;
    list-style: none;
    border-radius: 2rem;
}
h3.hq{
    text-align: left;
    margin-top: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
h3.alw{
    text-align: right;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 12rem;
}
.In{
    margin-top: 8.6rem;
}
.our{
    margin-top: 11rem;
    margin-bottom: 7rem;
}
a{
    text-decoration: none;
    color: var(--second-color);
}
a.one{
    background-color: var(--first-color);
    color: var(--second-color);
    font-weight:400;
    font-size: 2rem;
    line-height: 150%;
    text-decoration: none;
    border-radius: 9rem;
    padding-left: 26px;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 12px;
    margin-left: 1.5em;
    margin-bottom: 3rem;
    min-width: 26rem;
}
button.b1{
    background-color: rgba(255, 255, 255, 0);
    color: var(--first-color);
    font-weight: 600;
    font-size: 3rem;
    line-height: 47%;
    border: none;
    text-align: center;
    margin-top: 3rem;
}
button.b3{
    color: var(--second-color);
    background-color: var(--background-color);
    border: none;
}
.otzButton{
    display: block;
    float: left;
}
.bird{
    float: left;
}
.hw{
    display: none;
}
li.hw1{
    background-color: var(--group-color);
    box-shadow: 0rem 0.4rem 2rem var(--shade-color);
    color: var(--second-color);
    backdrop-filter: blur(20rem);
    width: 14.049rem;
    height: 15.25rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
}
li.hw2{
    background-color: var(--group-color);
    width: 14.049rem;
    height: 15.25rem;
    backdrop-filter: blur(2rem);
    border-radius: 2rem;
    margin-bottom: 3rem;
}
button.b2{
    background-color: var(--first-color);
    color: var(--second-color);
    font-weight:400;
    font-size: 2rem;
    line-height: 150%;
    text-decoration: none;
    border-radius: 9rem;
    padding: 0.5rem;
    border: none;
    width: 31.7rem;
    margin-top: 2rem;
    margin-bottom: 12rem;
}
form{
    text-align: center;
}

footer{
    margin-top: 2.5rem;
    padding-left: 3rem;
    background-color: var(--bacground2-color);
    font-size: 2.2rem;
    line-height: 136%;
    color: var(--second-color);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.term{
    padding-right: 5rem;
}
.last{
    font-size: 1.4rem;
    line-height: 214%;
    font-weight: 200;
}

nav{
    display: none;
}

